# This is Git's per-user configuration file.
[user]
  name = Juan José Ruiz Ferrer
	email = juanjose@realitat.com.mx
# Please adapt and uncomment the following lines:
#	name = Juan José Ruiz Ferrer
#	email = juanjo@DeusExBlade.localdomain
[core]
	editor = vim
[alias]
	permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply

  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
[pull]
	rebase = false
[init]
	defaultBranch = main
[submodule]
	recurse = true
