[submodule "personal"]
	path = personal
	url = git@github.com:juanjodarko/personal.git
[submodule "git"]
	path = git
	url = git@github.com:juanjodarko/git.git
[submodule "mac_personal"]
	path = mac_personal
	url = git@github.com:juanjodarko/mac_personal.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:juanjodarko/awesome.git
[submodule "polybar/.config/polybar/pomobar"]
	path = polybar/.config/polybar/pomobar
	url = git@github.com:juanjodarko/pomobar.git
[submodule "quickshell/.config/quickshell"]
	path = quickshell/.config/quickshell
	url = git@github.com:juanjodarko/dockshell.git
