[submodule "personal"]
	path = personal
	url = git@github.com:juanjodarko/personal.git
[submodule "git"]
	path = git
	url = git@github.com:juanjodarko/git.git
[submodule "mac_personal"]
	path = mac_personal
	url = git@github.com:juanjodarko/mac_personal.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:juanjodarko/awesome.git
