/* Update Manager */

configuration {
  font:                     "JetBrainsMono Nerd Font 8";
}

@theme "~/.config/rofi/theme.rasi"

/* Window */

window {
  location:                 center;
  anchor:                   center;
  width:                    500px;
  border:                   2px;
  border-radius:            10px;
  border-color:             @main-br;
  background-color:         @main-bg;
  children:                 [ mainbox ];
}

mainbox {
  spacing:                  0;
  background-color:         inherit;
  text-color:               @main-fg;
  children:                 [ message, listview ];
}

/* Message bar (shows update counts) */

message {
  margin:                   6px 6px 0 6px;
  padding:                  6px;
  border-radius:            6px;
  background-color:         @input-bg;
  text-color:               inherit;
}

textbox {
  background-color:         inherit;
  text-color:               inherit;
  horizontal-align:         0.5;
}

/* List */

listview {
  lines:                    6;
  cycle:                    false;
  padding:                  6px;
  background-color:         inherit;
}

element {
  padding:                  8px;
  cursor:                   pointer;
  background-color:         inherit;
  text-color:               @main-fg;
}

element selected.normal {
  border-radius:            6px;
  background-color:         @select-bg;
  text-color:               @select-fg;
}

element-text {
  padding:                  0 6px;
  cursor:                   inherit;
  background-color:         inherit;
  text-color:               inherit;
}
